
<%= render "layouts/errors", object: team %>

<%
  new_edit_label = ""
  if @team.new_record?
    new_edit_label = "Create"
  else
    new_edit_label = "Update"
  end
%>

<div class="card border-primary mb-3 rounded-0">
    <h6 class="card-header bg-primary text-white rounded-0">Team</h6>
  <div class="card-body">

    <%= form_with(model: team, local: true) do |form| %>


      <div class="form-group">
        <%= form.label "Team Name" %>
        <%= form.text_field :name, class: "form-control", required: true  %>
      </div>

      <div class="form-group">
        <%= form.label :description %>
        <%= form.text_area :description, class: "form-control", required: true  %>
      </div>
    
      <div class="actions">
        <%= button_tag type: "submit", class: "#{submit_button}" do %> <i class='fa fa-users'></i> <%= new_edit_label %> Team <% end %>
        <%= back_button %>
      </div>
    <% end %>
  </div>
</div>
