<h1 class="display-4">Create Password</h1>

<%= form_for(resource, as: resource_name, url: update_user_confirmation_path, html: { method: :put, :class => "form login" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <%= hidden_field_tag :confirmation_token, @confirmation_token %>

  <div class="form-group">
    <%= f.label :password, :class => "control-label" %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :password_confirmation, :class => "control-label" %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>

    <%= f.submit "Create Password", class: 'btn btn-primary btn-sm' %>
<% end %>