
<%= render "layouts/errors", object: @member %>
<h1 class="display-4">Edit My Profile</h1>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="p-2"></div>
      <div class="card border-primary mb-3 rounded-0">
        <h6 class="card-header bg-primary text-white rounded-0">Login Information</h6>
        <div class="card-body">
          
          <div class="form-row">
            <div class="col">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: false, class: "form-control" %>
            </div>

            <div class="col">
              <%= f.label "Default Portal on Login" %><br />
              <%= f.collection_select :default_tenant_id, current_user.tenants.order(:name), :id, :name, {},  {:class =>"selectpicker form-control"} %>
            </div>
          </div>
          
        
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
          
          <div class="form-row">
            <div class="col">
              <%= f.label :password %> 
              <small>Leave blank if you don't want to change it.</small><br />
              <%= f.password_field :password, autocomplete: false, class: "form-control", placeholder: @minimum_password_length ? "Minimum #{@minimum_password_length} characters"  : "" %>
            </div>
          
            <div class="col">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: false, class: "form-control" %>
            </div>
          </div>

        </div>
      </div>
      
     <%= fields_for(:member) do |w| %> 
      <div class="card border-primary mb-3 rounded-0">
        <h6 class="card-header bg-primary text-white rounded-0">My Profile</h6>
        <div class="card-body">

            <div class="form-row">
              <div class="col">
                <%= w.label :first_name %>
                <%= w.text_field :first_name, autocomplete: false, class: "form-control" %>
              </div>
              
              <div class="col">
                <%= w.label :last_name %>
                <%= w.text_field :last_name, autocomplete: false, class: "form-control" %>
              </div>
            </div>

            <div class="form-row">
              <div class="col">
                <%= w.label :mobile_number %>
                <%= w.text_field :mobile_number, autocomplete: false, class: "form-control" %>
              </div>
              
              <div class="col">
                <%= w.label :region, "Region (RHQ)" %> <small>If you do not have a RHQ, enter "NA".</small>
                <%= w.text_field :region, autocomplete: false, class: "form-control" %>
              </div>
            </div>  
            <div class="form-row">
              <div class="col">
                <%= w.label :street_name %>
                <%= w.text_field :street_name, autocomplete: false, class: "form-control" %>
              </div>
              
              <div class="col">
                <%= w.label "Teams" %>
                <%= w.collection_select :team_ids, Team.all.order(:name), :id, :team_descriptor, {},  {:class =>"selectpicker form-control show-tick", :multiple => true, :data => {:'live-search' => true }} %>
              </div>
            </div>
          
 
        </div>
      </div>
      <% if !current_user.member.first.pdpa %>
      <div class="card border-danger mb-3 rounded-0">
        <h6 class="card-header bg-danger text-white rounded-0">Personal Data Protection Acceptance</h6>
        <div class="card-body">
          <div class="form-group text-center">
            <%= w.check_box :pdpa, {}, true %><%= w.label "I have read, understand, and accept the Personal Data Policy." %><br>The policy can be found <%=link_to "here", personal_data_protection_path, target: '_blank' %>.
          </div>      
        </div>
      </div>
      <% end %>
     <% end %>  
      
      <div class="card border-primary mb-3 rounded-0">
        <h6 class="card-header bg-primary text-white rounded-0">Confirm Changes</h6>
        <div class="card-body">
          <div class="form-group">
            <%= f.label :current_password %> <i>(We need your current password to confirm your changes!)</i><br />
            <%= f.password_field :current_password, autocomplete: false, class: "form-control" %>
          </div>      
        </div>
      </div>
      
    <%= f.submit "Update", class:"#{submit_button}" %> <%= back_button  %>
  <% end %>
  
  <script type="text/javascript">
    $(function () {

        $(".selectpicker").selectpicker({
        }).selectpicker("render");
    });
    
</script>