<h2 class="display-4">Create New Portal</h2>
<div class="p-2"></div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>


  <div class="card border-primary mb-3 rounded-0">
    <h6 class="card-header bg-primary text-white rounded-0">Portal Details</h6>
    <div class="card-body">
      
      <div class="form-row">
        <div class="col">
          <%= f.label :email, "Email of the first administrator of the new portal" %><br />
          <%= f.email_field :email, required: true, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>
      </div>


      <div class="form-row">
        <div class="col">
          <%= f.label :password %>
          <%= f.password_field :password, required: true, autocomplete: "new-password", class: "form-control", placeholder: @minimum_password_lengt ? "Minimum #{@minimum_password_lengt} characters" : ""  %>
        </div>
      
        <div class="col">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, required: true, autocomplete: "new-password", class: "form-control" %>
        </div>
      </div>
        
      <%= fields_for( :tenant ) do |w| %>
        <div class="form-group">
          <%= w.label :name, 'Portal Name (a.k.a. Function Group Name)' %>
          <%= w.text_field :name, required: true, class: "form-control" %>
        </div>
      <% end %>
    <div class="p-2"></div>
     <%= button_tag type: "submit", class: "#{submit_button}" do %> <i class='fa fa-home'></i> Create New Portal <% end %> <%= back_button %>
    </div>
  </div>
<% end %>