<h1 class="display-4">List of Users for <%= @tenant.name %></h1>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Created On</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each_with_index do |user, index| %>
      <tr>
        <th scope="row"><%= index + 1 %></th>
        <td><%= user.first_name + " " + user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.created_at.strftime(Event.date_format) %></td>
        <td><%= link_to "<i class='fa fa-pencil'></i> Edit Email".html_safe, edit_email_path(user), class: submit_button %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>