<h1 class="display-4">Edit Email Address</h1>

<%= form_with(model: @user, url: {action: "update_email"}) do |form| %>

 <div class="card border-primary mb-3 rounded-0">
    <h6 class="card-header bg-primary text-white rounded-0">Update Email</h6>
    <div class="card-body">
      
      <div class="form-row">
        <div class="col">
        <%= form.label :email %>
        <%= form.text_field :email, class: "form-control",required: true %>
        <%= hidden_field_tag :id, params[:format] %>
        </div>
      </div>
      <div class="p-2"></div>
     <%= button_tag type: "submit", class: "#{submit_button}" do %> <i class='fa fa-envelope'></i> Update Email <% end %> <%= back_button %>
    </div>
  </div>
<% end %>