<% if !@event_member.blank? && Setting.first.manage_attendance %>
  <% @event = @upcoming_event.blank? ? @event : @upcoming_event  %>
  <% if ((@event_member.first.sign_on.blank?) || (@event_member.first.sign_off.blank?))  && @event.live_event_date_range === Time.current  %>
    <div class="alert alert-warning alert-dismissible fade show col" role="alert">
      <%= form_with model: @event, url: update_attendance_path do |f| %>
      
      <% if @event_member.first.sign_on.blank? %> 
        <strong>Sign ON!</strong> You can sign-in for <%= @event.name %> now. Click <%= f.submit "Sign ON", class: "btn btn-success btn-sm rounded-0" %> now.
      <% else %>
        <strong>Sign OFF!</strong> You can sign-off for <%= @event.name %> now. Click <%= f.submit "Sign OFF", class: "btn btn-danger btn-sm rounded-0", data: { confirm: "You are about to sign OFF, are you sure this is what you want to do?" } %> now.
      <% end %>
      <%= f.hidden_field :id %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <% end %>
    </div>
  <% end %>
<% end %>