<% if obj %>
  <% if obj.size > 0%>
    <h4><%= label %> EVENTS</h4>
    <%= month_calendar events: obj do |date, events| %>
      <div class="text-center" style="font-size: 0.7em"><%= date.strftime("%d-%b") %></div><br />
        <% events.each do |event| %>
          <%= link_to event.name, event, class: "btn btn-#{Time.current > event.start_date_time ? "secondary" : event.status_color} btn-sm col", style: "font-size: 0.8em" %><div class="p-1"></div>
        <% end %>
    <% end %>  
  <% end %>
  <% else %>
    <div class="text-left">Select one of the options above to view respective events.</div>
<% end %>