<h1 class="display-4">Event Code List</h1>
<div class="p-2"></div>
<%= link_to "<i class='fa fa-code'></i> Create New Event Code".html_safe, new_event_code_path, class: "#{submit_button}" %>
<div class="p-2"></div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Code</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @event_codes.each do |event_code| %>
      <tr>
        <td><%= event_code.code %></td>
        <td><%= event_code.description %></td>
        <td><%= link_to "<i class='fa fa-pencil'></i> Edit".html_safe, edit_event_code_path(event_code), class: "#{submit_button}"  %>
        <% link_to 'Delete', event_code, method: :delete, data: { confirm: 'Are you sure?' }, class: ""  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="p-2"></div>

<%= link_to "<i class='fa fa-code'></i> Create New Event Code".html_safe, new_event_code_path, class: "#{submit_button}" %>
