<h1 class="display-4 text-center">Oops! This page is not found.</h1>
<p class="text-center">It seem like something went missing here. You may find it and navigate from the <%= link_to "home page", root_path, class: "text-black" %>.</p>