<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-sm" %>
  </div>

  <div class="form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control form-control-sm" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="form-group">
      <div class="form-check">
        <%= f.check_box :remember_me, class: "form-check-input" %>
        <%= f.label :remember_me, class: "form-check-label" %>
      </div>
    </div>
  <% end %>

    <%= f.submit "Log in", class: "#{submit_button}" %>
<% end %>

<%= render "devise/shared/links" %>
