
<%= render "layouts/errors", object: recurrent_event %>
<div class="p-2"></div>
<%= form_with(model: recurrent_event, local: true) do |form| %>

  <div class="card border-primary mb-3 rounded-0">
    <h6 class="card-header bg-primary text-white rounded-0">Basic Event Information</h6>
    <div class="card-body text-dark">
      <div class="form-group">
        <%= form.label "Event Title" %>
        <%= form.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label "Event Description" %>
        <%= form.text_area :description, class: "form-control"  %>
      </div>
    </div>
  </div>
  
  <div class="p-2"></div>
  <div class="card border-primary mb-3 rounded-0">
    <h6 class="card-header bg-primary text-white rounded-0">Event Details</h6>
      <div class="card-body text-dark">
        <div class="form-row">
          <div class="form-group col">
            <%= form.label "Dates" %>
            <div class="input-group date" id="datetimepicker14" data-target-input="nearest">
              <%= form.text_field :dates, class: "form-control datetimepicker-input", readonly: true, data: {target: "datetimepicker14"} %>
                <div class="input-group-append" data-target="#datetimepicker14" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
          </div>
        </div>
        <div class="form-row">
        <div class="form-group col">
          <%= form.label "Start Time" %>
          <div class="input-group date" id="datetimepicker7" data-target-input="nearest">
              <%= form.text_field :start_time, class: "form-control datetimepicker-input", readonly: true, data: {target: "#datetimepicker7"}, :value => (@recurrent_event.start_time.blank? ? '': @recurrent_event.start_time.strftime(Event.time_format)) %>
              <div class="input-group-append" data-target="#datetimepicker7" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
          </div>
        </div>
      
        <div class="form-group col">
          <%= form.label "End Time" %>
          <div class="input-group date" id="datetimepicker8" data-target-input="nearest">
            <%= form.text_field :end_time, class: "form-control datetimepicker-input", readonly: true, data: {target: "#datetimepicker8"},:value => (@recurrent_event.end_time.blank? ? '': @recurrent_event.end_time.strftime(Event.time_format)) %>
              <div class="input-group-append" data-target="#datetimepicker8" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
          </div>
        </div>
      </div>

      
      <div class="form-row">
        <div class="form-group col">
          <%= form.label "Venue" %>
          <%= form.collection_select :venue_id, Venue.all, :id, :venue_descriptor, {:include_blank => true},  {:class =>"selectpicker form-control", :data => {:'live-search' => true}} %>
        </div>
        <div class="form-group col">
          <%= form.label "Event Types" %>
          <%= form.collection_select :event_type_ids, EventType.all, :id, :name, {},  {:class =>"selectpicker form-control", :multiple => true, :data => {:'live-search' => true}} %>
        </div>
      </div>
      
      <div class="form-row">
        <% if Setting.first.manage_event_code %>
        <div class="form-group col">
          <%= form.label "Event Code" %>
          <%= form.collection_select :event_code_id, EventCode.all, :id, :code, {:include_blank => true},  {:class =>"selectpicker form-control", :data => {:'live-search' => true}} %>
        </div>
        <% end %> 
        <div class="form-group col">
          <%= form.label "Number of Duty members required" %>
          <%= form.number_field :no_of_duty_member, class: "form-control", in: 1..20 %>
        </div>
      </div>
    </div>
  </div>
  <div class="p-2"></div>
  <div class="form-group">
    <%= button_tag type: "submit", class: "#{submit_button}",  data: {confirm: "Once created, you cannot change the recurring event details. All changes will have to be done through individual events. Do you want to proceed?"} do %> <i class='fa fa-calendar-plus-o'></i> Create Recurring Event <% end %>
    <%= back_button %>
  </div>
<% end %>


<script type="text/javascript">
    $(function () {
        $('#datetimepicker7').datetimepicker({
            format: "h:mm A",
            stepping: 30,
            ignoreReadonly: true
        });
        $('#datetimepicker8').datetimepicker({
            useCurrent: false,
            format: "h:mm A",
            stepping: 30,
            ignoreReadonly: true
        });
        $("#datetimepicker7").on("change.datetimepicker", function (e) {
            $('#datetimepicker8').datetimepicker('minDate', e.date);
            $('#datetimepicker8').datetimepicker('date', e.date.add(1, 'hours'));
        });
        $("#datetimepicker8").on("change.datetimepicker", function (e) {
            //$('#datetimepicker7').datetimepicker('maxDate', e.date);
        });
        
        $(".selectpicker").selectpicker({
        }).selectpicker("render");
        
        $('#datetimepicker14').datetimepicker({
        minDate: Date(),
        format: "DD-MMM-YYYY",
        allowMultidate: true,
        multidateSeparator: ",",
        ignoreReadonly: true
        });
    });
</script>


