<h1 class="display-4">Recurrent Events</h1>
<div class="p-2"></div>
<%= link_to "<i class='fa fa-calendar-plus-o'></i> Create New Recurrent Event".html_safe, new_recurrent_event_path, class: "#{submit_button}" %>
<% if @recurrent_events.any? %>
<%= will_paginate @recurrent_events,  list_classes: %w(pagination justify-content-center), previous_label: "Previous", next_label: "Next"  %>
<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Dates</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Venue</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @recurrent_events.each do |recurrent_event| %>
      <tr>
        <td><%= recurrent_event.name %></td>
        <td>
          <% recurrent_event.events.each do |event| %>
            <span class="badge badge-pill badge-info "><%= event.start_date_time.strftime(Event.date_only_format) %></span><br>
          <% end %>
        </td>
        <td><%= recurrent_event.start_time.strftime(Event.time_format) %></td>
        <td><%= recurrent_event.end_time.strftime(Event.time_format) %></td>
        <td><%= recurrent_event.venue.name %></td>
        <td><%= link_to "<i class='fa fa-search-plus'></i> Show".html_safe, recurrent_event, class: "#{submit_button}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<%= will_paginate @recurrent_events,  list_classes: %w(pagination justify-content-center), previous_label: "Previous", next_label: "Next"  %>
<% else %>
  <div class="alert alert-warning" role="alert">
    No recurring events found.
  </div>  
<% end %>
<div class="p-2"></div>

<%= link_to "<i class='fa fa-calendar-plus-o'></i> Create New Recurrent Event".html_safe, new_recurrent_event_path, class: "#{submit_button}" %> <%= back_button %>

