/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

*/

@import "bootstrap";
@import "tempusdominus-bootstrap-4.css";
@import "font-awesome";
@import "bootstrap-select";

// make all images responsive by default
img {
  @extend .img-fluid;
  margin: 0 auto;
}
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  text-align: center;
}
.form {
  @extend .col-md-6;
}
.form-centered {
  @extend .col-md-6;
  text-align: center;
}
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
}

// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  margin-top: 30px; // accommodate the navbar
}

section {
  @extend .row;
  margin-top: 20px;
}

// Styles for form views
// using Bootstrap 4
// generated by the rails_layout gem
.authform {
  padding-top: 30px;
  max-width: 320px;
  margin: 0 auto;
}
.authform form {
  @extend .card;
  @extend .col-md-9;
  padding-bottom: 40px;
  @extend .bg-light;
  @extend .small;
}
.authform .right {
  float: right !important;
}
.authform .button {
  @extend .btn;
  @extend .btn-primary;
}
.authform fieldset {
  @extend .card;
}
#error_explanation:not(:empty) {
  @extend .alert;
  @extend .alert-danger;
}
#error_explanation h2 {
  font-size: 16px;
}
.button-xs {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-sm;
}

label 
{
 font-size: 0.9em;
 font-weight: bold;
 text-transform: capitalize;
}

.simple-calendar
{
 .today {
   background-color: lightyellow; 
 }
}


.dropdown-menu
{
  font-size: 0.9em;
}

body, .btn, .display-4, .badge, .form-control, option

{
  font-family: proxima-nova, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.dropdown-header, h1
{
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: normal;  
}

.scrollable-menu {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}