<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag "application", media: "all" %>
  </head>
  <body class="bg-light">
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><strong>ACCOUNT CONFIRMATION</strong></h5>
          <p class="card-text">Hello <%= @email %>!</p>
          <p class="card-text">You can confirm your account email through the link below:</p>
          <p class="text-center"><%= link_to 'Confirm my account', user_confirmation_url(:confirmation_token => @token), class: "btn btn-primary" %></p>
          <p class="card-text">Thank you.<br><br>Regards,<br>Ooteportal Portal Administrator</p>
        </div>
      </div>
    </div>
  </body>
</html>