<div class="p-1"></div>
<div class="container">

  <% if current_user %>

      <div class="row">
        
        <div class="col-auto mr-auto">
          <small>For more information about personal data protection, please click <%= link_to "here", personal_data_protection_path, class: "text-white" %>.</small>
        </div>
        <div class="col-auto">
          <%= link_to "<i class='fa fa-medkit' aria-hidden='true'></i> Report Issues".html_safe, new_issue_path, class: "#{cancel_button} border-white" %>
        </div>
      </div>
      <small class="text-left">&copy; <%= Tenant.current_tenant.name %> Portal 2019. Powered by Oote.</small>

  <% else %>
      <div class="container">
        <small class="text-left">&copy; Oote Portal 2019. Powered by Oote.</small>
    </div>
  <% end %>
  <div class="p-1"></div>
</div>