<% if user_signed_in? %>

  <ul class="navbar-nav mr-auto">
  <% if Tenant.current_tenant.name == "Landlord" %>
    <%= render "layouts/nav_links_for_landlord" %>
  <% elsif current_user.member.first.active_status %>
    <%= render "layouts/nav_links_for_user" %>
  
    <% if current_user.member.first.try(:team_leader?) %>
      <%= render "layouts/nav_links_for_team_leader" %>
    <% elsif current_user.member.first.try(:admin?) %>
      <%= render "layouts/nav_links_for_admin" %>
    <% end %>
  <% end %>
  
  </ul>
  <div class="navbar-nav mr-right">
    <% if current_user.tenants.size > 1 %>
    <li class="nav-item dropdown p-2">
    <button class="btn dropdown-toggle btn-sm btn-primary border-white rounded-0" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-refresh" aria-hidden="true"></i> Change Portal</button>
      <div class="dropdown-menu rounded-0" aria-labelledby="navbarDropdown">
        <% current_user.tenants.each do |tenant| %>
          <%= link_to(tenant.name, "/change_tenant/#{tenant.hashid}", class: "dropdown-item") if Tenant.current_tenant.id != tenant.id %>
        <% end %>
      </div>
    </li>
    <% end %>
    <li class="nav-item dropdown p-2">
    <button class="btn rounded-0 dropdown-toggle btn-sm btn-primary border-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle-o" aria-hidden="true"></i> <%= current_user.member.first.full_name %> </button>
      <div class="dropdown-menu rounded-0" aria-labelledby="navbarDropdown">
          <%= link_to "<i class='fa fa-drivers-license-o' aria-hidden='true'></i> Edit My Profile".html_safe, edit_user_registration_path(current_user), class: "dropdown-item" %>
          <div class="dropdown-divider"></div>
          <%= link_to("<i class='fa fa-sign-out' aria-hidden='true'></i> Logout".html_safe, destroy_user_session_path, method: :delete, class: "dropdown-item") %>
      </div>
    </li>
  </div>
  
<% else %>
<ul class="navbar-nav mr-auto">
  
</ul>
<div class="navbar-nav mr-right">
  <div class="p-2">
    <%= render "devise/sessions/new_nav" %>
  </div>
</div>
<% end %>