<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container">
  <%= link_to Tenant.current_tenant ? ("<i class='fa fa-home' aria-hidden='true'></i> " + Tenant.current_tenant.name).html_safe : "Oote Portal", root_path, class:"navbar-brand text-uppercase font-weight-bold" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <%= render "layouts/nav_links_for_auth" %>
    </div>

  </div>
</nav>