<li class="nav-item dropdown p-2">
  
  <button class="btn rounded-0 dropdown-toggle btn-primary border-white btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-ticket" aria-hidden="true"></i> Events
  </button>
  <div class="dropdown-menu rounded-0" aria-labelledby="navbarDropdown">
    <h6 class="dropdown-header text-uppercase"><%= current_user.member.first.full_name %></h6>
    <%= link_to "Upcoming Events", display_upcoming_events_path, class: "dropdown-item" %>
    <%= link_to "Past Events", display_past_events_path, class: "dropdown-item" %>
    <%= link_to "Search All Events", events_path, class: "dropdown-item" %>
  </div>
</li>

<li class="nav-item dropdown p-2">
  
  <button class="btn rounded-0 dropdown-toggle btn-primary btn-sm border-white" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-users" aria-hidden="true"></i> Members
  </button>
  <div class="dropdown-menu rounded-0" aria-labelledby="navbarDropdown">
    <h6 class="dropdown-header text-uppercase"><%= current_user.member.first.full_name %></h6>
    <%= link_to "Add My Unavailabile Schedule", new_member_schedule_path, class: "dropdown-item" %>
    <%= link_to "View My Unavailabile Schedule", member_schedules_path, class: "dropdown-item" %>

  </div>
</li>