<h1 class="display-4">Members' Attendance Report</h1>
<div class="p-2"></div>
<div id="event-lookup" class="card border-primary mb-3 rounded-0">
  <h6 class="card-header text-white bg-primary rounded-0">Search Parameters</h6>
  
  <%= form_tag search_members_report_path, remote: true, method: :get, id: "search-events-form" do %>
  <div class="card-body">
    <div class="form-row">
      <div class="form-group col">
        <div class="input-group date" id="datetimepicker7" data-target-input="nearest">
            <%= text_field_tag :from_start_date, nil,  class: "form-control datetimepicker-input", readonly: true, data: {target: "#datetimepicker7"}, placeholder: "From - Start Date" %>
            <div class="input-group-append" data-target="#datetimepicker7" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    
      <div class="form-group col">
        <div class="input-group date col" id="datetimepicker8" data-target-input="nearest">
          <%= text_field_tag :to_start_date, nil, class: "form-control datetimepicker-input", readonly: true, data: {target: "#datetimepicker8"}, placeholder: "To - Start Date" %>
            <div class="input-group-append" data-target="#datetimepicker8" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
      <div class="form-group col">
        <%= select_tag :team, options_from_collection_for_select(Team.all, :id, :team_descriptor),  {:class =>"selectpicker form-control", :title => "Team", :multiple => false, :data => {:'live-search' => true}} %>
      </div>
      </div>
    <div class="form-row">
      <div class="form-group col text-center">
        <%= button_tag type: "submit", class: "#{submit_button}" do %> <i class='fa fa-file-text-o'></i> Generate Report <% end %>
        <%= link_to "<i class='fa fa-ban'></i> Clear".html_safe, display_members_report_path, class: "#{cancel_button}" %> 
      </div>
    </div>
    </div>
  <% end %>
</div>

<div class="p-2"></div>

<div id="results">
  <%= render "display_members_report", obj: @members, from_start_date: @from_start_date, end_start_date: @end_start_date %>
</div>

<div class="pb-4"></div>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker7').datetimepicker({
            format: "DD-MMM-YYYY - h:mm A",
            stepping: 30,
            ignoreReadonly: true
        });
        $('#datetimepicker8').datetimepicker({
            useCurrent: false,
            format: "DD-MMM-YYYY - h:mm A",
            stepping: 30,
            ignoreReadonly: true
        });
        $("#datetimepicker7").on("change.datetimepicker", function (e) {
            $('#datetimepicker8').datetimepicker('minDate', e.date);
            $('#datetimepicker8').datetimepicker('date', e.date.add(2, 'hours'));
        });
        $("#datetimepicker8").on("change.datetimepicker", function (e) {
            //$('#datetimepicker7').datetimepicker('maxDate', e.date);
        });
        
        $(".selectpicker").selectpicker({
        }).selectpicker("render");
        
        $('.pagination a').attr('data-remote', 'true')
    });
</script>