<h1  class="display-4">Edit Member - <%= @member.full_name %></h1>

<div class="p-2"></div>
  <%= render "layouts/errors", object: @member %>


<%= form_for(@member) do |f| %>
  <div class="card border-primary mb-3 rounded-0">
    <h6 class="card-header bg-primary text-white rounded-0">Member Basic Information</h6>
      <div class="card-body text-dark">
        
        <div class="form-row">
          <div class="form-group col">
            <%= f.label :first_name %>
            <%= f.text_field :first_name, class: "form-control" %>
          </div>
          <div class="form-group col">
            <%= f.label :last_name %>
            <%= f.text_field :last_name, class: "form-control" %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col">
          <%= f.label :mobile_number %>
          <%= f.text_field :mobile_number, class: "form-control" %>
          </div>
          
          <div class="form-group col">
            <%= f.label "Home Street Name" %>
            <%= f.text_field :street_name, class: "form-control" %>
            <small class="form-text text-muted">Enter your home street name in full, such as Tampines Street 81. Please <font color="red"><strong>DO NOT</strong></font> enter block or unit number.</small>
          </div>
      </div>
    </div>
  </div>
  <div class="card border-primary mb-3 rounded-0">
    <h6 class="card-header bg-primary text-white rounded-0">Member Advanced Information</h6>
      <div class="card-body text-dark">
        <div class="form-row">
          <div class="form-group col">
            <%= f.label :role  %>
            <%= f.select :role, options_for_select(current_user.member.first.try(:admin?) ? Member.roles.map {|k, v| [k.humanize.capitalize, k]} : Member.roles.first(2).map {|k, v| [k.humanize.capitalize, k]}, selected: @member.role || nil), {}, class: "form-control" %>
          </div>
          
          <div class="form-group col">
            <%= f.label :region, "Region (RHQ)" %> <small>If you do not have a RHQ, enter "NA".</small>
            <%= f.text_field :region, class: "form-control" %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col">
            <%= f.label "Team" %>
            <%= f.collection_select :team_ids, Team.all.order(:name), :id, :team_descriptor, {},  {:class =>"selectpicker form-control show-tick", :multiple => true, :data => {:'live-search' => true }} %>
          </div>
          
        </div>
        <div class="form-row">
          <div class="form-group col">
            <%= f.label "More Information About the Member" %>
            <%= f.text_area :description, class: "form-control" %>
          </div> 
        </div>
      </div>
  </div>
  <div class="p-2"></div>

  <div class="form-group">
    <%= button_tag type: "submit", class: "#{submit_button}", data: { disable_with: "Updating..."} do %> <i class='fa fa-user'></i> Update Member <% end %>
    <% if current_user.member.first.try(:admin?) %>
    <button class="<%= submit_button %>" type="button" data-toggle="collapse" data-target="#memberhistory" aria-expanded="false" aria-controls="collapseExample">
      <i class='fa fa-history'></i> Show Member History
    </button>
    <div class="p-2"></div>
    <div class="collapse" id="memberhistory">
      <div class="card border-dark mb-3 rounded-0">
        <div class="card-header"><strong>Member Update History</strong></div>
          <ul class="list-group list-group-flush">
            <% @member_logs.each do |member_log| %>
              <li class="list-group-item" style="font-size: 0.7em"><%= member_log.member_log %></li>
            <% end %>
          </ul>
      </div>
    </div>
    <% end %>
  </div>
<% end %>

<script type="text/javascript">
    $(function () {

        $(".selectpicker").selectpicker({
        }).selectpicker("render");
    });
</script>